<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balabala.mapper.UserMapper">
    
    <update id="reset">
        UPDATE `balabala`.`user` SET pass_word = #{passWord} WHERE user_name = #{userName} AND phone = #{phone};
    </update>

</mapper>